[Desktop Entry]
Name[de]=OS-Installer
Name[fr]=Installeur de systèmes
Name[hr]=OS-Instaler
Name[nl]=Besturingssysteeminstallateur
Name[oc]=OS-Installer
Name[pt_BR]=Instalador de SO
Name[uk]=Встановлення системи
Name[sv]=Oprativsysteminstallatör
Name[es]=Instalador de Sistemas Operativos
Name[pl]=Instalator systemu operacyjnego
Name[et]=OS-Installer
Name[ka]=OS-Installer
Name[cs]=OS-Installer
Name[it]=OS-Installer
Name=OS-Installer
Comment[de]=Ein Betriebssystem installieren
Comment[fr]=Installer un système d'exploitation
Comment[hr]=Instaliraj operacijski sustav
Comment[nl]=Installeer een besturingssysteem
Comment[oc]=Installar un sistèma operatiu
Comment[pt_BR]=Instale um Sistema Operacional
Comment[uk]=Встановіть операційну систему
Comment[sv]=Installera ett oprativsystem
Comment[es]=Instalar un Sistema Operativo
Comment[pl]=Zainstaluj system operacyjny
Comment[et]=Paigaldage opsüsteemi
Comment[ka]=ოპერაციული სისტემის დაყენება
Comment[cs]=Nainstalovat operační systém
Comment[it]=Installa un sistema operativo
Comment=Install an Operating System
Exec=os-installer
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.github.p3732.OS-Installer
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true
Categories=GTK;Utility;
X-GNOME-UsesNotifications=true
